.map-container {
	height: 90vh;
	margin: 0rem 0rem 0rem 0rem;
}
.List {
	border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ListItemEven {
	background-color: #f8f8f0;
}

.addAidForm {
	label {
		margin: 0.5rem 1rem 0.2rem 0rem;
	}
	#submitButton {
		margin-top: 0.5rem;
	}
}
.addImageSection {
	margin-top: 0.3rem;
}
.fly-to-location-button {
	position: absolute;
	bottom: 11rem;
	right: 4px;
}
.layer-control {
	position: absolute;
	bottom: 20rem;
	right: 4px;
}
.search-form {
	position: absolute;
	top: 2%;
	left: -3%;
}
#commentEvent {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom-width: 2px;
	border-bottom-color: rgb(0, 0, 0);
}

.request-popup .leaflet-popup-content-wrapper {
	border-radius: 0px;
	padding: 0.1rem;
	margin: 0rem;
	min-width: max-content;
	.cardImage {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 0.5rem;
		img {
			width: 50%;
			height: 100%;
		}
	}
}
.detailCard {
	.image-gallery {
		width: 80%;
		height: auto;
	}

	.image-gallery-slide img {
		width: 100%;
		height: auto;
		max-height: 80vh;
		object-fit: cover;
		overflow: hidden;
		object-position: center center;
	}
}
