.map-container {
	height: 90vh;
	margin: 0rem 0rem 0rem 0rem;
}
.List {
	border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ListItemEven {
	background-color: #f8f8f0;
}

.addAidForm {
	label {
		margin: 1rem 1rem 0rem 0rem;
	}
	button {
		margin-top: 0.5rem;
	}
}
.addImageSection {
	label {
		font-weight: 500;
		margin: 1rem 1rem 0rem 0rem;
	}
	#file {
		margin-top: 0.5rem;
	}
}
.fly-to-location-button {
	position: absolute;
	top: 10rem;
	right: 4px;
}
.search-form {
	position: absolute;
	top: 2%;
	left: -3%;
}
#commentEvent {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom-width: 2px;
	border-bottom-color: cadetblue;
	box-shadow: rgb(218, 162, 8);
}
