.profilePage {
	min-height: 80vh;
}

.userInfoColumn {
	box-shadow: 10px 10px 32px -13px rgba(0, 0, 0, 0.75);
	padding: 2rem;
	border-radius: 0.5rem;
	.userProfilPicture {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			height: 100%;
		}
	}
	.columnItems {
		margin-bottom: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.key {
			background: gray;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			span {
				font-size: 1.6rem;
				font-weight: 700;
			}
		}
		.value {
			margin-top: 1rem;
			span {
				font-size: 1.6rem;
				font-weight: normal;
			}
		}
		.applicationSection {
			background: rgba(56, 133, 54, 0.527);
			border-radius: 0.5rem;
			margin-top: 3rem;
			padding: 0.5rem 1rem;
			span {
				font-size: 1.3rem;
				font-weight: 700;
			}
		}
	}
}
.adminPanel {
	box-shadow: 10px 10px 32px -13px rgba(0, 0, 0, 0.75);
	padding: 1.5rem;
	border-radius: 0.5rem;
	height: 100%;
}
.pendingAids {
	.pendingAid {
		margin-bottom: 2rem;
		padding: 0;
		.aidImg {
			padding-left: 2rem;
			padding-right: 0rem;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 20rem;
			.image-gallery-slide img {
				height: 100%;
				width: 100%;
			}
		}
		.value {
		}
		.key {
			font-size: 1rem;
			font-weight: 800;
		}
		.property {
			margin-bottom: 1rem;
		}
	}
}
.pendingComments {
	.pendingComment {
		margin-bottom: 2rem;
		padding: 1rem;
		.key {
			font-size: 1rem;
			font-weight: 800;
		}
		.property {
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			img {
				height: 100%;
			}
		}
		.aidImg {
			margin-top: 2rem;
		}
	}
}
.pendingUsers {
	margin-top: 2rem;
	.pendingUser {
		padding: 1rem;
		margin-bottom: 1rem;
		height: 10rem;
		.columnItems {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			hr {
				margin-top: 1rem;
				border: 0.1rem solid rgb(0, 0, 0);
				border-radius: 0.5rem;
			}
			.columnItem {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					height: 100%;
				}
			}
			.key {
				span {
					font-size: 1.2rem;
					font-weight: 700;
				}
			}
			.value {
				span {
					font-size: 1.2rem;
					font-weight: normal;
				}
			}
			.buttonSection {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

/***********All USERS**********************/
.allUsersContainer {
	margin-top: 2rem;
	.pendingUser {
		height: 6rem;
		margin-bottom: 2rem;
		hr {
			margin-top: 1rem;
			border: 0.1rem solid rgb(0, 0, 0);
			border-radius: 0.5rem;
		}
		.columnItem {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				height: 100%;
			}
			.key {
				span {
					font-size: 1.2rem;
					font-weight: 700;
				}
			}
			.value {
				span {
					font-size: 1.2rem;
					font-weight: normal;
				}
			}
			.buttonSection {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.selectType {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.key {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				span {
					font-size: 1.2rem;
					font-weight: 700;
				}
			}
			.value {
				span {
					font-size: 1.2rem;
					font-weight: normal;
				}
			}
		}
	}
}

.allAidsContainer {
	.aidItem {
		margin-bottom: 1rem;
		padding: 0.5rem;
		.key {
			font-size: 1rem;
			font-weight: 800;
		}
		.value {
			margin-left: 1rem;
		}
		.cardImage {
			margin-top: 1rem;
			min-height: 10rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.property {
			margin-bottom: 1rem;
		}
	}
}
