*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.loginForm{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 23rem;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: rgba(16, 119, 85, 0.788);
    border-width: 0.3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(29, 145, 64, 0.699);
    border-radius: 2rem;
    padding: 3rem 3rem 3rem 3rem;
    width: fit-content;
    .loginHeader{
        margin: 0rem 1rem 2rem 1rem;

        h1{
            font-weight: bold;
            font-size: 3rem;
        }
    }
    
}
