* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.registrationContainer {
	margin: 4rem 2rem;
	min-height: 65vh;
}
.noPadding {
	padding: 0px;
}
.noMargin {
	margin: 0px;
}
.registrationCard {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem 2rem;
	border-radius: 1rem;
	border-width: 2px;
	* {
		margin-top: 0.5rem;
		padding: 1rem 1rem;
	}
	h1 {
		font-weight: 800;
		font-size: 24px;
		text-align: center;
	}
	background: linear-gradient(
		268.54deg,
		#77a066 0.55%,
		rgba(69, 147, 86, 0.743636) 100%
	);
	// background: linear-gradient(
	// 	164.17deg,
	// 	#41d56a 0%,
	// 	rgba(196, 196, 196, 0) 100%
	// );
	// box-shadow: inset 0px 0px 26px 24px rgba(4, 75, 41, 0.41),
	// 	inset 0px 0px 17px 59px rgba(255, 252, 252, 0.25);
}

.registrationForm {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 100%;
	margin: 0rem auto;
	padding: 3rem 3rem 3rem 3rem;
	background: #cbe1cf;
	background: linear-gradient(
		268.54deg,
		#77a066 0.55%,
		rgba(69, 147, 86, 0.743636) 100%
	);
	border: 1px solid #04502b;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 31px 21px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	.registrationHeader {
		font-size: 24px;
		text-align: center;
		margin-bottom: 2rem;
		font-weight: 700;
	}
	input {
		border-color: black;
	}
	select {
		border-color: black;
	}
	label {
		margin-top: 1rem;
	}
	button {
		margin-top: 2rem;
	}
}

.modeOfContact {
	* {
		margin-right: 0.5rem;
	}
	margin-bottom: 0px;
}

.addImageSection {
	label {
		font-weight: 500;
		margin: 1rem 1rem 0rem 0rem;
	}
	#file {
		margin-top: 2rem;
	}
}
