.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}
$membershipBtn : rgba(0, 96, 223, 0.541);
$membershipDetailScreenBackground : linear-gradient(rgb(34, 148, 255),rgb(54, 236, 197));
$textColor: rgb(182, 79, 223);

nav{
    background: rgba(69, 121, 255, 0.65);
    .nav-link{
        color: black;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 54px;
        /* identical to box height */

        text-align: justify;
    }
    .navbar-brand{
        color: black;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
    }
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25rem;
}
#sticky-footer {
    flex-shrink: none;
}
#page-content {
    flex: 1 0 auto;
}




.membership-card{
    background: $membershipBtn;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 2rem;
}
.membership-card-info{
    background: $membershipBtn;
    border-radius: 1.5rem;
    display: flex; 
    justify-content: center;
    text-align: center;
    padding: 2rem;
   
}
.membership-card-button{
    background:$membershipBtn;
    border-radius: 1rem;
    padding: 5px 5px;
    font-size: 2rem;
}



.aid-photos{
    background: $membershipDetailScreenBackground;
    border-radius: 2rem;
    text-align: center;
    img {
        width: 60%;
        margin: 1rem;
    }
}
.aid-informations{
    background: $membershipDetailScreenBackground;
    border-radius: 2rem;
    text-align: center;
    p{
        padding: 3rem 3rem 3rem 3rem;
    }
}
.aid-comments{
    background: $membershipDetailScreenBackground;
    border-radius: 2rem;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
}