* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.loginPage {
	//background-color: rgba(69, 147, 86, 0.253);
	padding: 2rem;
	height: 80vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
.loginForm {
	position: absolute;
	top: 35%;
	left: 50%;
	z-index: 999;
	padding: 60px 32px;
	transform: translate(-50%, -30%);
	//background: rgba(69, 147, 86, 0.253);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.loginPage::after {
	position: relative;
	content: "";
	z-index:1;
	top: 35;
	left: 0;
	height: 100%;
	width: 100%;
	//background: rgba(0, 0, 0, 0.219);
}
.leftPanel {
	flex: 1;
	align-self: left;
	img {
		width: 500px;
	}
}
.rightPanel {
	flex: 1;
	margin: 0 0 0 2rem;
	h1 {
		margin-bottom: 2rem;
		text-align: center;
		font-size: 48px;
		font-weight: bold;
	}
	.loginHeader {
		color: black;
		text-align: center;
	}
	button {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.loginPage {
		padding: 0%;
		margin: 0;
	}
	.loginForm {
		top: 30%;
		width: 90%;
		flex-direction: column;
	}

	/* on small screen we don't display the image */
	.leftPanel {
		display: none;
	}
	.rightPanel {
		margin: 0;
	}
}
